# Partner Institute Groundstation Analysis

## Summary
The Partner Institute network has groundstations around the world in 7 locations: Pingley, Creswick, Cambridge, Milan, Munich, Charlottesville, and Boulder. The technical specifications of the dishes at these partner institutes are similar but not identical to the KSAT groundstations.

Partner institute groundstation locations:
![Partner Institute Locations](Images/Partner_locations.PNG)

## Frequency Allocation
K-Sat is listed to receive between the 2200-2300 MHz and transmit between 2025-2120 MHz ranges which are located in the S-band. The S-band is a designation by the Institute of Electrical and Electronics Engineers (IEEE) for a part of the microwave band of the electromagnetic spectrum covering frequencies from 2000 to 4000 MHz.

Within the KSAT S-band ranges, the ITU has allocated frequency bands to ‘fixed’, ‘mobile’, ‘space operation’, ‘earth exploration’, and ‘space research’ services. All following definitions are taken from the ITU regulations.


### Fixed
A fixed service is defined as ‘a radiocommunication service between specified fixed points.’

A fixed satellite service is defined as : ‘A radiocommunication service between earth stations at given positions, when one or more satellites are used; the given position may be a specified fixed point or any fixed point within specified areas; in some cases this service includes satellite-to-satellite links, which may also be operated in the inter-satellite service; the fixed-satellite service may also include feeder links for other space radiocommunication services.’

These definitions denote a service with fixed start and end points. By Skyhopper’s nature, it will not remain in a fixed position. Since Skyhopper will act as the origin and destination of information, the Skyhopper network will not qualify as a ‘fixed service’.

### Mobile
A mobile service is defined as: ‘A radiocommunication service between mobile and land
stations, or between mobile stations (CV).’

A mobile-satellite service is defined as: ‘A radiocommunication service:
Between mobile earth stations and one or more space stations, or between space stations used by this service; or
Between mobile earth stations by means of one or more space stations.
This service may also include feeder links necessary for its operation.’

These definitions denote a service where the ground stations are not in fixed locations. KSAT has two groundstations (Svalsat and Trollsat) which are both fixed. As such the Skyhopper network would not qualify as a ‘mobile service’


### Space Operation
A space operation service is defined as: ‘A radiocommunication service concerned exclusively with the operation of spacecraft, in particular space tracking, space telemetry and space telecommand.’

This is a vague definition that seems very broad. Whilst space tracking, telemetry, and telecommand will be utilised to varying extents by Skyhopper, it is not clear whether the ‘Space Operation’ definition is broad and all encompassing or more focused on space missions of a certain type such as manned missions or missions involving robotic tools etc.

Due to the vagueness of this definition, whilst Skyhopper may qualify as a ‘space operation service’, it is recommended that more focus is put on the ‘space research service’ classification.

In reality, the distinction between ‘space operation’ and ‘space research’ may be trivial due to some frequencies in the relevant range being shared by the two classifications.

### Earth Exploration
An Earth exploration-satellite service is defined as: ‘A radiocommunication service between earth stations and one or more space stations, which may include links between space stations, in which:
information relating to the characteristics of the Earth and its natural phenomena, including data relating to the state of the environment, is obtained from active sensors or passive sensors on Earth satellites;
similar information is collected from airborne or Earth-based platforms;
such information may be distributed to earth stations within the system concerned;
platform interrogation may be included.
This service may also include feeder links necessary for its operation.’

Skyhopper will not be observing Earth in any capacity and so the ‘Earth exploration-satellite service’ classification will not be available to Skyhopper.

### Space Research
To use a Space Research band, the associated network must be a ‘Space Research Service’. This is defined in the ITU regulations as ‘A radiocommunication service in which spacecraft or other objects in space are used for scientific or technological research purposes.’

No further guidelines are provided to help determine whether a service is a ‘space research service’. However, due to the purely scientific nature of the payload, and the scientific reputation of the universities involved it is highly likely that Skyhopper will qualify for an allocation as a ‘Space Research’ mission.

## Pass Analysis
Using the orbital information for Skyhopper provided, an analysis was performed using the STK software to determine the availability windows where the groundstations could comminucate with the satellite.

**The following information was used:**

Orbital altitude: 550km

Orbital inclination: 92 deg

**The following assumptions were made:**

Groundstation effective range: 2000km

Groundstation effective angular elevation : 10 deg
![Skyhopper STK Analysis](Images/STK_Skyhopper_Partner_Milan.PNG)
The image above represents the groundstation in Milan and does not show the other possible gorundstations.

The STK files, the outputed access analysis '.csv' files, as well as our further analysis are available in the data folder in this repository.

## Pass Data Analysis

Here we will anaylse the pass data for Svalsat and Trollsat groundstations with Skyhopper

In [10]:
# import libraries and setup the data parse function
import pandas as pd
dateparse = lambda x: pd.datetime.strptime(x, '%d %b %Y %H:%M:%S.%f')

In [11]:
# Load the one year of Trollsat and Svalsat data
oneYearBoulder = pd.read_csv("data/Partner_Institute/Skyhopper_Partner-Boulder_Access_1year.csv", index_col=1, parse_dates=['Start Time (UTCG)', 'Stop Time (UTCG)'], date_parser=dateparse)
oneYearCambridge = pd.read_csv("data/Partner_Institute/Skyhopper_Partner-Cambridge_Access_1year.csv", index_col=1, parse_dates=['Start Time (UTCG)', 'Stop Time (UTCG)'], date_parser=dateparse)
oneYearCharlottesville = pd.read_csv("data/Partner_Institute/Skyhopper_Partner-Chalottesville_Access_1year.csv", index_col=1, parse_dates=['Start Time (UTCG)', 'Stop Time (UTCG)'], date_parser=dateparse)
oneYearCreswick = pd.read_csv("data/Partner_Institute/Skyhopper_Partner-Creswick_Access_1year.csv", index_col=1, parse_dates=['Start Time (UTCG)', 'Stop Time (UTCG)'], date_parser=dateparse)
oneYearMilan = pd.read_csv("data/Partner_Institute/Skyhopper_Partner-Milan_Access_1year.csv", index_col=1, parse_dates=['Start Time (UTCG)', 'Stop Time (UTCG)'], date_parser=dateparse)
oneYearMunich = pd.read_csv("data/Partner_Institute/Skyhopper_Partner-Munich_Access_1year.csv", index_col=1, parse_dates=['Start Time (UTCG)', 'Stop Time (UTCG)'], date_parser=dateparse)
oneYearPingley = pd.read_csv("data/Partner_Institute/Skyhopper_Partner-Pingley_Access_1year.csv", index_col=1, parse_dates=['Start Time (UTCG)', 'Stop Time (UTCG)'], date_parser=dateparse)

### Boulder Analysis

Here we calculate the amount of passes each day and show the mean, std, min and max.

In [12]:
count = oneYearBoulder.groupby(oneYearBoulder.index.date).count()
count['Access'].describe()

count    365.000000
mean       3.408219
std        0.508649
min        3.000000
25%        3.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: Access, dtype: float64

Now we will calculate the mean, std, min and max for duration of those passes

In [13]:
oneYearBoulder.describe().round()

       Access  Duration (sec)
count  1244.0          1244.0
mean    622.0           375.0
std     359.0           104.0
min       1.0            17.0
25%     312.0           317.0
50%     622.0           411.0
75%     933.0           460.0
max    1244.0           480.0

### Cambridge Analysis

Here we calculate the amount of passes each day and show the mean, std, min and max.

In [14]:
count = oneYearCambridge.groupby(oneYearCambridge.index.date).count()
count['Access'].describe()

count    366.000000
mean       4.237705
std        0.463222
min        1.000000
25%        4.000000
50%        4.000000
75%        4.000000
max        5.000000
Name: Access, dtype: float64

Now we will calculate the mean, std, min and max for duration of those passes

In [15]:
oneYearCambridge.describe().round()

       Access  Duration (sec)
count  1551.0          1551.0
mean    776.0           379.0
std     448.0           109.0
min       1.0             9.0
25%     388.0           319.0
50%     776.0           418.0
75%    1164.0           469.0
max    1551.0           484.0

### Charlottesville Analysis

Here we calculate the amount of passes each day and show the mean, std, min and max.

In [16]:
count = oneYearCharlottesville.groupby(oneYearCharlottesville.index.date).count()
count['Access'].describe()

count    365.000000
mean       3.334247
std        0.511467
min        2.000000
25%        3.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: Access, dtype: float64

Now we will calculate the mean, std, min and max for duration of those passes

In [17]:
oneYearCharlottesville.describe().round()

       Access  Duration (sec)
count  1217.0          1217.0
mean    609.0           375.0
std     351.0           103.0
min       1.0            19.0
25%     305.0           325.0
50%     609.0           405.0
75%     913.0           460.0
max    1217.0           481.0

### Creswick Analysis

Here we calculate the amount of passes each day and show the mean, std, min and max.

In [18]:
count = oneYearCreswick.groupby(oneYearCreswick.index.date).count()
count['Access'].describe()

count    365.000000
mean       3.189041
std        0.518758
min        2.000000
25%        3.000000
50%        3.000000
75%        3.000000
max        4.000000
Name: Access, dtype: float64

Now we will calculate the mean, std, min and max for duration of those passes

In [19]:
oneYearCreswick.describe().round()

       Access  Duration (sec)
count  1164.0          1164.0
mean    582.0           378.0
std     336.0           107.0
min       1.0            11.0
25%     292.0           320.0
50%     582.0           417.0
75%     873.0           466.0
max    1164.0           480.0

### Milan Analysis

Here we calculate the amount of passes each day and show the mean, std, min and max.

In [20]:
count = oneYearMilan.groupby(oneYearMilan.index.date).count()
count['Access'].describe()

count    366.000000
mean       3.666667
std        0.494721
min        1.000000
25%        3.000000
50%        4.000000
75%        4.000000
max        5.000000
Name: Access, dtype: float64

Now we will calculate the mean, std, min and max for duration of those passes

In [21]:
oneYearMilan.describe().round()

       Access  Duration (sec)
count  1342.0          1342.0
mean    672.0           377.0
std     388.0           111.0
min       1.0            14.0
25%     336.0           311.0
50%     672.0           418.0
75%    1007.0           469.0
max    1342.0           482.0

### Munich Analysis

Here we calculate the amount of passes each day and show the mean, std, min and max.

In [22]:
count = oneYearMunich.groupby(oneYearMunich.index.date).count()
count['Access'].describe()

count    366.000000
mean       3.857923
std        0.386810
min        1.000000
25%        4.000000
50%        4.000000
75%        4.000000
max        5.000000
Name: Access, dtype: float64

Now we will calculate the mean, std, min and max for duration of those passes

In [23]:
oneYearMunich.describe().round()

       Access  Duration (sec)
count  1412.0          1412.0
mean    706.0           379.0
std     408.0           108.0
min       1.0            15.0
25%     354.0           318.0
50%     706.0           418.0
75%    1059.0           467.0
max    1412.0           483.0

### Pingley Analysis

Here we calculate the amount of passes each day and show the mean, std, min and max.

In [24]:
count = oneYearPingley.groupby(oneYearPingley.index.date).count()
count['Access'].describe()

count    365.000000
mean       3.142466
std        0.621483
min        2.000000
25%        3.000000
50%        3.000000
75%        4.000000
max        4.000000
Name: Access, dtype: float64

Now we will calculate the mean, std, min and max for duration of those passes

In [25]:
oneYearPingley.describe().round()

       Access  Duration (sec)
count  1147.0          1147.0
mean    574.0           369.0
std     331.0           108.0
min       1.0            21.0
25%     288.0           305.0
50%     574.0           405.0
75%     860.0           457.0
max    1147.0           479.0

## Data Throughput

### Link Budget
The equations below give the link budget for the satellite using the KSAT ground station. The output from this link budget will then be used to determine the throughput and finally the estimated cost of the mission.
### Fundamental Limitations
#### Bandwidth
Bandwidth is the spectrum of our signal. In our case, we choose our bandwidth, but this will lead to another limitation. When we reduce our bandwidth, we reduce the amount of information that we can send down. We have chosen a bandwidth based on the bandwidth allocated to similar missions.
#### Free Space Path Loss
As a radio signal leaves the transmitter antenna, it undergoes a phenomenon known as Free Space Path Loss (FSPL) or Path Loss. Path loss explains that as a signal propagates through space, it expands outward, resulting in a reduction in power levels.
#### Atmospheric Attenuation
$\text{Attenuation} = 0.007*distance$
(Need to graph)
The distance will change depending on the elevation. At low elevations, the atmospheric attenuation becomes signifcant as the distance is greater.
### Hartley Shannon Law
$C = B\log_2(1+SNR)$
The above equation gives the maximum rate of information transfer for a given bandwidth and SNR. It gives an upper limit on the performance of the system and allows us to determine the approximate expected cost for the mission.
Note: This law assumes that the noise is random with gaussian distribution and the information is randomly coded.
### Modulation
There are two possible modulation schemes for the satellite: BPSK and QPSK.
Depending on what modulation scheme is chosen, the above calculation may be improved; require less bandwidth. If a modulation scheme is used that is able to embed more information in to each bit, other issues may arise though. These modulation schemes often  require more power and may result in a larger signal to noise ratio. More power  = larger spacing between different symbols. More Noise = Symbols are too close together.

In [6]:
import math
Frequency = 2.25E+09
Bandwidth = 100000.00
Orbit_Altitude = 550000.00
c = 300000000.00
PI = 3.141592654
Air = 1.64
Atmosphere = 100000.00
Radius_of_Earth = 6371000
Minimum_Elevation_Angle = math.radians(10)
Maximum_Distance = -Radius_of_Earth*math.sin(Minimum_Elevation_Angle)+math.sqrt((Radius_of_Earth*math.sin(Minimum_Elevation_Angle))**2+Orbit_Altitude**2+2*Radius_of_Earth*Orbit_Altitude)
Maximum_Distance_Atmosphere = -Radius_of_Earth*math.sin(Minimum_Elevation_Angle)+math.sqrt((Radius_of_Earth*math.sin(Minimum_Elevation_Angle))**2+Orbit_Altitude**2+2*Radius_of_Earth*Atmosphere)
#Satelite to Ground Station
Transmitted_Power_Output = 39.24
Radio_Gain = 35.00
Noise_Figure = 0.75
Transmitter_Antenna_gain = 8.30
Transmitter_Losses = 0.00
Free_Space_Loss = 20*math.log(Maximum_Distance ,10)+20*math.log(Frequency,10)+20*math.log(4*PI/c,10)
Atmospheric_Attentuation = 7*10**(-3)*Maximum_Distance_Atmosphere/1000
Half_Power_Beamwidth = 71.0
Receiver_Antenna_Gain = 34.5
SNR = Transmitted_Power_Output+Transmitter_Antenna_gain-Transmitter_Losses-Atmospheric_Attentuation+Receiver_Antenna_Gain+Radio_Gain
Channel_Capacity = Bandwidth*math.log(1+SNR,2)
print(Channel_Capacity/8)
print(Maximum_Distance)
print(Free_Space_Loss)

85422.13740843938
1815078.8128430482
164.663332296519

### Signal-to-Noise Ratio

### Throughput

In [7]:
def throughput(time,name):
    throughput = (Channel_Capacity*time)/8
    throughputmbs = throughput/(10**6)
    print (name, "Average Pass Downlink Throughput", throughputmbs, "MB")
    
throughput (375,"Boulder")
throughput (379,"Cambridge")
throughput (375,"Charlottesville")
throughput (378,"Creswick")
throughput (377,"Milan")
throughput (379,"Munich")
throughput (369,"Pingley")

Boulder Average Pass Downlink Throughput 32.03330152816476 MB
Cambridge Average Pass Downlink Throughput 32.37499007779852 MB
Charlottesville Average Pass Downlink Throughput 32.03330152816476 MB
Creswick Average Pass Downlink Throughput 32.289567940390086 MB
Milan Average Pass Downlink Throughput 32.20414580298164 MB
Munich Average Pass Downlink Throughput 32.37499007779852 MB
Pingley Average Pass Downlink Throughput 31.52076870371413 MB

## Cost