In [1]:
import pandas as pd

In [2]:
testDate = "1 Jun 2022 01:19:53.4343"
newDate = pd.datetime.strptime(testDate, '%d %b %Y %H:%M:%S.%f')
newDate

datetime.datetime(2022, 6, 1, 1, 19, 53, 434300)

In [3]:
dateparse = lambda x: pd.datetime.strptime(x, '%d %b %Y %H:%M:%S.%f')

In [4]:
skyhopperpasses = pd.read_csv("data/skyhopper-access-1-month.csv", index_col=1, parse_dates=['StartTime', 'StopTime'], date_parser=dateparse)

In [5]:
skyhopperpasses.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 451 entries, 2022-06-01 01:19:53.654000 to 2022-06-30 23:41:29.728000
Data columns (total 3 columns):
Access      451 non-null int64
StopTime    451 non-null datetime64[ns]
Duration    451 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 14.1 KB

In [27]:
count = skyhopperpasses.groupby(skyhopperpasses.index.date).count()
count['Access']

2022-06-01    15
2022-06-02    15
2022-06-03    15
2022-06-04    15
2022-06-05    15
2022-06-06    15
2022-06-07    15
2022-06-08    15
2022-06-09    15
2022-06-10    15
2022-06-11    15
2022-06-12    15
2022-06-13    15
2022-06-14    15
2022-06-15    15
2022-06-16    15
2022-06-17    15
2022-06-18    15
2022-06-19    15
2022-06-20    15
2022-06-21    15
2022-06-22    15
2022-06-23    15
2022-06-24    15
2022-06-25    16
2022-06-26    15
2022-06-27    15
2022-06-28    15
2022-06-29    15
2022-06-30    15
Name: Access, dtype: int64

In [26]:
daysum = skyhopperpasses.groupby(skyhopperpasses.index.date).sum()
daysum['Duration']

2022-06-01    5987.166
2022-06-02    5987.166
2022-06-03    5987.164
2022-06-04    5987.165
2022-06-05    5987.159
2022-06-06    5987.157
2022-06-07    5987.153
2022-06-08    5987.155
2022-06-09    5987.148
2022-06-10    5987.147
2022-06-11    5987.150
2022-06-12    5987.154
2022-06-13    5987.157
2022-06-14    5987.157
2022-06-15    5987.153
2022-06-16    5987.154
2022-06-17    5987.147
2022-06-18    5987.145
2022-06-19    5987.143
2022-06-20    5987.143
2022-06-21    5987.139
2022-06-22    5987.138
2022-06-23    5987.141
2022-06-24    5987.139
2022-06-25    6368.845
2022-06-26    5987.030
2022-06-27    5987.030
2022-06-28    5987.028
2022-06-29    5987.032
2022-06-30    5987.033
Name: Duration, dtype: float64

In [15]:
skyhopperpasses.describe()

           Access    Duration
count  451.000000  451.000000
mean   226.000000  399.103410
std    130.336743   80.353181
min      1.000000  219.496000
25%    113.500000  376.684000
50%    226.000000  417.008000
75%    338.500000  466.364500
max    451.000000  488.654000