# Trollsat Access 1 Month

In [2]:
import pandas as pd

In [3]:
dateparse = lambda x: pd.datetime.strptime(x, '%d %b %Y %H:%M:%S.%f')

In [3]:
Trollsat = pd.read_csv("data/Skyhopper_Trollsat_Access_1month.csv", index_col=1, parse_dates=['Start Time (UTCG)', 'Stop Time (UTCG)'], date_parser=dateparse)

In [4]:
Trollsat.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 300 entries, 2022-06-01 05:24:37.083000 to 2022-06-30 19:38:36.856000
Data columns (total 3 columns):
Access              300 non-null int64
Stop Time (UTCG)    300 non-null datetime64[ns]
Duration (sec)      300 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 9.4 KB

In [5]:
count = Trollsat.groupby(Trollsat.index.date).count()
count['Access']

2022-06-01    10
2022-06-02    10
2022-06-03    10
2022-06-04    10
2022-06-05    10
2022-06-06    10
2022-06-07    10
2022-06-08    10
2022-06-09    10
2022-06-10    10
2022-06-11    10
2022-06-12    10
2022-06-13    10
2022-06-14    10
2022-06-15    10
2022-06-16    10
2022-06-17    10
2022-06-18    10
2022-06-19    10
2022-06-20    10
2022-06-21    10
2022-06-22    10
2022-06-23    10
2022-06-24    10
2022-06-25    10
2022-06-26    10
2022-06-27    10
2022-06-28    10
2022-06-29    10
2022-06-30    10
Name: Access, dtype: int64

In [20]:
daysum = Trollsat.groupby(Trollsat.index.date).sum()
daysum['Duration (sec)']

2022-06-01    3629.424
2022-06-02    3630.311
2022-06-03    3631.161
2022-06-04    3631.978
2022-06-05    3632.765
2022-06-06    3633.518
2022-06-07    3634.245
2022-06-08    3634.934
2022-06-09    3635.599
2022-06-10    3636.232
2022-06-11    3636.830
2022-06-12    3637.398
2022-06-13    3637.934
2022-06-14    3638.441
2022-06-15    3638.921
2022-06-16    3639.375
2022-06-17    3639.796
2022-06-18    3640.192
2022-06-19    3640.558
2022-06-20    3640.896
2022-06-21    3641.200
2022-06-22    3641.482
2022-06-23    3641.729
2022-06-24    3641.952
2022-06-25    3642.138
2022-06-26    3642.294
2022-06-27    3642.430
2022-06-28    3642.534
2022-06-29    3642.613
2022-06-30    3642.662
Name: Duration (sec), dtype: float64

In [21]:
Trollsat.describe()

           Access  Duration (sec)
count  300.000000      300.000000
mean   150.500000      363.805140
std     86.746758      117.743286
min      1.000000      115.802000
25%     75.750000      343.100000
50%    150.500000      371.338500
75%    225.250000      471.682000
max    300.000000      482.414000

# Svalsat Access 1 month

In [24]:
Svalsat = pd.read_csv("data/Skyhopper_Svalsat_Access_1month.csv", index_col=1, parse_dates=['Start Time (UTCG)', 'Stop Time (UTCG)'], date_parser=dateparse)

In [25]:
Svalsat.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 451 entries, 2022-06-01 01:19:53.654000 to 2022-06-30 23:41:29.728000
Data columns (total 3 columns):
Access              451 non-null int64
Stop Time (UTCG)    451 non-null datetime64[ns]
Duration (sec)      451 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 14.1 KB

In [27]:
count = Svalsat.groupby(Svalsat.index.date).count()
count['Access']

2022-06-01    15
2022-06-02    15
2022-06-03    15
2022-06-04    15
2022-06-05    15
2022-06-06    15
2022-06-07    15
2022-06-08    15
2022-06-09    15
2022-06-10    15
2022-06-11    15
2022-06-12    15
2022-06-13    15
2022-06-14    15
2022-06-15    15
2022-06-16    15
2022-06-17    15
2022-06-18    15
2022-06-19    15
2022-06-20    15
2022-06-21    15
2022-06-22    15
2022-06-23    15
2022-06-24    15
2022-06-25    16
2022-06-26    15
2022-06-27    15
2022-06-28    15
2022-06-29    15
2022-06-30    15
Name: Access, dtype: int64

In [28]:
daysum = Svalsat.groupby(Svalsat.index.date).sum()
daysum['Duration (sec)']

2022-06-01    5987.166
2022-06-02    5987.166
2022-06-03    5987.164
2022-06-04    5987.165
2022-06-05    5987.159
2022-06-06    5987.157
2022-06-07    5987.153
2022-06-08    5987.155
2022-06-09    5987.148
2022-06-10    5987.147
2022-06-11    5987.150
2022-06-12    5987.154
2022-06-13    5987.157
2022-06-14    5987.157
2022-06-15    5987.153
2022-06-16    5987.154
2022-06-17    5987.147
2022-06-18    5987.145
2022-06-19    5987.143
2022-06-20    5987.143
2022-06-21    5987.139
2022-06-22    5987.138
2022-06-23    5987.141
2022-06-24    5987.139
2022-06-25    6368.845
2022-06-26    5987.030
2022-06-27    5987.030
2022-06-28    5987.028
2022-06-29    5987.032
2022-06-30    5987.033
Name: Duration (sec), dtype: float64

In [29]:
Svalsat.describe()

           Access  Duration (sec)
count  451.000000      451.000000
mean   226.000000      399.103410
std    130.336743       80.353181
min      1.000000      219.496000
25%    113.500000      376.684000
50%    226.000000      417.008000
75%    338.500000      466.364500
max    451.000000      488.654000

# 1 Year Analysis

In [4]:
oneYearTrollsat = pd.read_csv("data/Skyhopper_Trollsat_Access_1year.csv", index_col=1, parse_dates=['Start Time (UTCG)', 'Stop Time (UTCG)'], date_parser=dateparse)

In [5]:
oneYearTrollsat.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3733 entries, 2022-06-01 05:24:37.083000 to 2023-05-31 23:38:07.068000
Data columns (total 3 columns):
Access              3733 non-null int64
Stop Time (UTCG)    3733 non-null datetime64[ns]
Duration (sec)      3733 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 116.7 KB

In [6]:
count = oneYearTrollsat.groupby(oneYearTrollsat.index.date).count()
count['Access']

2022-06-01    10
2022-06-02    10
2022-06-03    10
2022-06-04    10
2022-06-05    10
2022-06-06    10
2022-06-07    10
2022-06-08    10
2022-06-09    10
2022-06-10    10
2022-06-11    10
2022-06-12    10
2022-06-13    10
2022-06-14    10
2022-06-15    10
2022-06-16    10
2022-06-17    10
2022-06-18    10
2022-06-19    10
2022-06-20    10
2022-06-21    10
2022-06-22    10
2022-06-23    10
2022-06-24    10
2022-06-25    10
2022-06-26    10
2022-06-27    10
2022-06-28    10
2022-06-29    10
2022-06-30    10
              ..
2023-05-02    11
2023-05-03    11
2023-05-04    11
2023-05-05    11
2023-05-06    11
2023-05-07    11
2023-05-08    11
2023-05-09    11
2023-05-10    11
2023-05-11    11
2023-05-12    11
2023-05-13    11
2023-05-14    11
2023-05-15    10
2023-05-16    10
2023-05-17    10
2023-05-18    10
2023-05-19    10
2023-05-20    10
2023-05-21    10
2023-05-22    10
2023-05-23    10
2023-05-24    10
2023-05-25    11
2023-05-26    10
2023-05-27    10
2023-05-28    10
2023-05-29    10
2023-05-30    10
2023-05-31    10
Name: Access, Length: 365, dtype: int64

In [7]:
daysum = oneYearTrollsat.groupby(oneYearTrollsat.index.date).sum()
daysum['Duration (sec)']

2022-06-01    3629.424
2022-06-02    3630.311
2022-06-03    3631.161
2022-06-04    3631.978
2022-06-05    3632.765
2022-06-06    3633.518
2022-06-07    3634.245
2022-06-08    3634.934
2022-06-09    3635.599
2022-06-10    3636.232
2022-06-11    3636.830
2022-06-12    3637.398
2022-06-13    3637.934
2022-06-14    3638.441
2022-06-15    3638.921
2022-06-16    3639.375
2022-06-17    3639.796
2022-06-18    3640.192
2022-06-19    3640.558
2022-06-20    3640.896
2022-06-21    3641.200
2022-06-22    3641.482
2022-06-23    3641.729
2022-06-24    3641.952
2022-06-25    3642.138
2022-06-26    3642.294
2022-06-27    3642.430
2022-06-28    3642.534
2022-06-29    3642.613
2022-06-30    3642.662
                ...
2023-05-02    3669.087
2023-05-03    3670.208
2023-05-04    3671.067
2023-05-05    3671.662
2023-05-06    3671.995
2023-05-07    3672.037
2023-05-08    3671.773
2023-05-09    3671.155
2023-05-10    3670.132
2023-05-11    3668.600
2023-05-12    3666.352
2023-05-13    3662.992
2023-05-14    3657.144
2023-05-15    3647.093
2023-05-16    3649.266
2023-05-17    3651.372
2023-05-18    3653.403
2023-05-19    3655.369
2023-05-20    3657.269
2023-05-21    3659.107
2023-05-22    3660.886
2023-05-23    3662.601
2023-05-24    3664.271
2023-05-25    4107.671
2023-05-26    3667.031
2023-05-27    3668.526
2023-05-28    3669.965
2023-05-29    3671.353
2023-05-30    3672.696
2023-05-31    3673.987
Name: Duration (sec), Length: 365, dtype: float64

In [8]:
oneYearTrollsat.describe()

            Access  Duration (sec)
count  3733.000000     3733.000000
mean   1867.000000      357.783604
std    1077.768605      122.968986
min       1.000000        2.690000
25%     934.000000      282.859000
50%    1867.000000      389.870000
75%    2800.000000      466.670000
max    3733.000000      487.337000